<mat-card [ngClass]="styleClass" class="mb-2 cursor-pointer hover:bg-slate-300" (click)="details(speaker.id)">
    <div class="flex justify-between">
        <div class="mr-5">
            <mat-card-title>{{speaker.value}}</mat-card-title>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum totam recusandae quisquam,
                    maxime
                    ex
                    nulla cumque quis esse repudiandae voluptatum, et accusamus ea id suscipit dolor dolore rem
                    odio?
                    Facere.
                </p>
            </mat-card-content>
        </div>
        <div class="text-right">
            <div class="text-xl">
                Some
            </div>
            <div class="text-secondary">
                info
            </div>
        </div>
    </div>
</mat-card>