.content-with-adv {
    margin-right: 344px;
}
.adv-wrap {
    width: 320px;
    max-width: 320px;
    padding-top: 40px;
    height: fit-content;
    &.avd-fixed {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .adv-item {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 20px;
        height: 180px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            height: 120%;
            transition: all .4s;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}